:root {
    --main: #202225;
    --main-dark: #131416;
    --main-light: #2d3034;

    --sec: #36393f;
    --sec-dark: #202226;
    --sec-light: #4c5058;

    --accent: #bfacfb;
    --accent-dark: #736797;
    --accent-light: #fff1ff;
}

* {
    color: rgba(255, 255, 255, .5);
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: monospace;
}

html {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.stars {
    content: "";
    width: 100%;
    height: 100%;
    background: url(cdn/images/sta3rs.webp);
    position: absolute;
    filter: blur(2px) opacity(.5);
    animation: stars 30s infinite linear;
    transform-origin: center;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main);
    box-shadow: inset 12px 12px 24px var(--main-dark),
        inset -12px -12px 24px var(--main-light);
}

.wrapper {
    content: "";
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.grid {
    content: "";
    width: 1000px;
    height: 400px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    border-radius: 75px;
    background: linear-gradient(145deg, #222428, #1d1f21);
    box-shadow: 12px 12px 24px #131416,
        -12px -12px 24px #2d3034;

    display: grid;
    grid-template-columns: repeat(2, 500px);

    column-gap: 50px;
    row-gap: 50px;
}


.outer {
    width: 500px;
    height: 200px;
    border-radius: 25px;
    background: linear-gradient(145deg, #222428, #1d1f21);
    box-shadow: inset 12px 12px 24px #131416,
        inset -12px -12px 24px #2d3034;
    z-index: 98;
    transition: box-shadow .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer:hover {
    transform: scale(1.05);
    box-shadow: 12px 12px 24px #131416,
        -12px -12px 24px #2d3034;
}

.outer>h1 {
    margin-bottom: 10px;
    text-shadow: 0px 2px 5px rgba(255, 255, 255, .3);
    pointer-events: none;
    user-select: none;
}

.outer>p {
    margin-bottom: 50px;
    font-size: 18px;
    color: var(--accent-dark);
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    user-select: none;
}

.outer>a>button {
    padding: 12px 150px;
    border: 1px solid var(--accent-dark);
    border-radius: 25px;
    background-color: transparent;
    transition: background-color .3s, transform .3s;
    cursor: pointer;
}

.outer>a>button:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, .05);
}

.outer>a>button:active {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0);
}

.title-anim>h1 {
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.4);
    font-size: 40px;
}

.title-anim::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 44px;
    width: 80px;
    height: 10px;
    background: var(--main);
    z-index: 99;
}

.title-anim {
    position: relative;
    top: -80px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-anim::after {
    content: "";
    position: absolute;
    right: -35px;
    top: 44px;
    width: 75px;
    height: 10px;
    background: var(--main);
}

.title-anim>span {
    content: "";
    position: absolute;
    left: 10px;
    width: 500px;
    border-bottom: 5px dotted var(--accent);
    animation: move .5s infinite linear;
}

@keyframes move {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(5%);
    }
}

.pac-man {
    position: relative;
    background: transparent;
    z-index: 1;
}

.pac-man::before,
.pac-man::after {
    content: "";
    position: absolute;
    left: 10px;
    display: block;
    border-radius: 50%;
    height: 0px;
    width: 0px;
}

.pac-man::before {
    animation: chunk-top 0.5s ease infinite;
    border: 20px solid var(--accent-dark);
    border-left-color: transparent;
    border-bottom-color: transparent;
    top: 3.51px;
}

.pac-man::after {
    animation: chunk-bottom 0.5s ease infinite;
    top: 3.49px;
    border: 20px solid var(--accent-dark);
    border-left-color: transparent;
    border-top-color: transparent;
}

/*ANIMATIONS*/

@keyframes chunk-top {

    0%,
    100% {
        transform: rotate(-44deg);
    }

    50% {
        transform: rotate(0deg);
    }
}

@keyframes chunk-bottom {

    0%,
    100% {
        transform: rotate(44deg);
    }

    50% {
        transform: rotate(0deg);
    }
}